.App {
  text-align: center;
}

body {
  background-color: #d2d4d7;
  text-align: center;
}

#nav-logo {
  font-family: 'Faster One', cursive;
}

nav {
  display: grid;
  grid-template-columns: [col1-start] 20% [col1-end col2-start] 45% [col2-end col3-start] 35% [col3-end];
  background-color: lightgray;
}

.nav-links {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
  font-family: 'Rajdhani', sans-serif;
}

main {
  text-align: center
}

.login-box {
  background-color: palegreen;
  margin: 100px 200px; 
  height: 200px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-shadow: 10px 10px darkcyan;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold
}

#create-button {
  background-color: teal;
  color: white;
  border: 2px solid black;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 22px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold
}

.account-form {
  background-color: palegreen;
  margin: 100px 200px; 
  height: 200px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-shadow: 10px 10px darkcyan;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold
}

.third {
  background-color: palegreen;
  margin: 100px 150px; 
  height: 300px;
  display: flex; 
  flex-direction: column;
  border: 5px solid black;
  box-shadow: 10px 10px darkcyan;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold
}

.box {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 30px;
  text-align: center;
  background-color: #759EBE;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  border: 4px solid #164366
}

.ride-card {
  display: flex;
  flex-direction: column;
  min-width: 400px
}

.ride-list {
  text-align: center;
  margin: 50px;
}

.ride-cards {
  display: flex;
  flex-flow: wrap;
  text-align: center;
  color: white;
  justify-content: center;
}


img {
  width: 350px;
  margin: 45px;
  border: 5px solid #164366
}

.welcome-message {
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px
}

.check-ride {
  font-family: 'Rajdhani', sans-serif;
}

.ride-card-name {
  font-size: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.click-able{
  cursor: pointer;
  transition: all 0.2s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ride-card {
  width: 100px
}

img {
  width: 300px
}



.ride-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 600px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 22px
}

.review-header {
  width: 600px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 40px;
  margin: 30px 0 -15px 0
}

.image-box {
  width: 700px
}

#ride-name {
  font-size: 60px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  margin: 0 0 -20px 0 
}

.location-and-height {
  background-color: #759EBE;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  border: 1px solid #164366;
  width: 500px;
  margin: -20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}